body {
  background: #f2f1f0;
  color: #222;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "HiraMinProN-W3", "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "MS Mincho", serif;
}

input {
  display: none;
}

label {
  display: block;
  user-select: none;
}

/* Cards */

#cards {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 100%;
  order: 2;
}

#cards input:checked ~ input:not(:checked) + .card,
#cards input:not(:checked) ~ input:checked + .card {
  order: 1;
}

/* Answer toggle */

.hide * {
  visibility: hidden;
}
#study-kanji:checked ~ * .hide .kanji,
#study-hiragana:checked ~ * .hide .hiragana,
#study-english:checked ~ * .hide .english {
  visibility: visible;
}

.card .kanji {
  font-size: 3rem;
}
.card .hiragana {
  font-size: 2rem;
}

/* Settings panel */

#settings {
  display: none;
  flex-direction: column;
}

#show-settings:checked ~ #settings {
  display: flex;
}
#show-settings:checked ~ [for=show-settings] {
  color: rgb(2, 99, 2);
}

#show-settings:checked ~ #cards {
  display: none;
}

#level-int-2:checked ~ #settings [for=level-int-2]:before,
#level-int-3:checked ~ #settings [for=level-int-3]:before,
#study-kanji:checked ~ #settings [for=study-kanji]:before,
#study-hiragana:checked ~ #settings [for=study-hiragana]:before,
#study-english:checked ~ #settings [for=study-english]:before {
  content: '✓ ';
}
